body {
    padding-top: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}

.container {
    width: 900px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

hr {
    margin-bottom: 40px;
    border: 0;
    border-top: 1px solid #aaa;
}

.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.legend {
    font-size: 14px;
}

.legend rect {
    fill: white;
    stroke: black;
    opacity: 0.8;
}